#!/usr/bin/env bash

swift-ring-builder /etc/swift/account.builder create 12 3 1
swift-ring-builder /etc/swift/container.builder create 12 3 1
swift-ring-builder /etc/swift/object.builder create 12 3 1

{% for host in groups['storage'] %}

    swift-ring-builder /etc/swift/account.builder add \
    --region 1 --zone 1 --ip {{ host }} --port 6202 --device {{ swift_disk }} --weight 100

    swift-ring-builder /etc/swift/container.builder add \
    --region 1 --zone 1  --ip {{ host }} --port 6201 --device {{ swift_disk }} --weight 100

    swift-ring-builder /etc/swift/object.builder add \
    --region 1 --zone 1  --ip {{ host }} --port 6200 --device {{ swift_disk }} --weight 100

{% endfor %}

swift-ring-builder /etc/swift/account.builder rebalance
swift-ring-builder /etc/swift/container.builder rebalance
swift-ring-builder /etc/swift/object.builder rebalance