#!/usr/bin/env bash

openstack domain create --description "Default Domain" default
openstack project create --domain default --description "Service Project" service
openstack project create --domain default --description "Admin Project" admin
openstack user create --domain default --password {{ keystone_password }} admin
openstack role create admin
openstack role add --project admin --user admin admin